<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>泛社交入口统一，手Q发力陌生人市场将带来多大的效应?_我的网站</title>
    <meta name="keywords" content="社交,入口,统一,发力,陌生人,市场,带来,大的,效应,文小" />
    <meta name="description" content="新版手Q的发布，人们关注的焦点是增加了手机QQ红包功能。由于支付宝也推出了红包功能，因此市场的焦点都关注在这个领域。其实，除了手Q红包之外，这次手Q升级中也有一些新的改变是值得我们关注的。比如“..." />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" type="text/css" href="Css/cmstop-article.css" />
    <link rel="stylesheet" type="text/css" href="Css/cmstop-comment-mode.css" />
    <link rel="stylesheet" type="text/css" href="Css/cmstop-right-common.css" />
    <!--[if lt IE 9 ]>
    <script type="text/javascript" src="Scripts/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript" src="Scripts/config.js"></script>
    <script type="text/javascript" src="Scripts/jquery.js"></script>
    <script type="text/javascript" src="Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="Scripts/cmstop-common.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url:'/api/getRelatedArticle',
                type:'get',
                data:{id:$("#articleId").val()},
                success:function (data) {
                    if(data==undefined||data=="[]"){
                        return;
                    }else {
                        var lidata="";
                        data=eval(data);
                        for(var i=0;i<data.length;i++){
                            lidata+='<li><a href="detail?id='+data[i].Id+'">'+data[i].Title+'</a></li>';
                        }
                        $(".viewpoint.hotlist ul").html(lidata);
                    }
                }
            });
        })
    </script>
    <!--<script type="text/javascript">
        var contentid = '175';// 文章ID
        var title = "泛社交入口统一，手Q发力陌生人市场将带来多大的效应?";//文章标题
        var topicid = '12000';// 评论主题
        var context = '';//全文内容缓存
        var content = '';//第一页内容缓存
        var _IMG_URL = 'http://127.0.0.1';
        var upload_url = "http://127.0.0.1";
        var www_url = "http://127.0.0.1";
        var thumb = "http://127.0.0.1/uploads/allimg/150207/109.png";
        var url = "http://127.0.0.1/a/zimeiti/shouyou/2015/0207/175.html";
        var source_link = "";
        var summary = "新版手Q的发布，人们关注的焦点是增加了手机QQ红包功能。由于支付宝也推出了红包功能，因此市场的焦点都关注在这个领域。其实，除了手Q红包之外，这次手Q升级中也有一些新的改变是值得我们关注的。比如“...";
    </script>-->
    <script type="text/javascript" src="Scripts/cmstop-imagezoom.js"></script>
    <script type="text/javascript" src="Scripts/fet.js"></script>
    <script type="text/javascript" src="Scripts/repos.js"></script>
    <!-- 本页面私有 -->
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script type="text/javascript" src="Scripts/common.js"></script>
    <script type="text/javascript" src="Scripts/post.js"></script>
    <!-- @本页面私有 -->
</head>

<body>
<!--网站公共头部-->
<div class="topbar">
    <div class=" wrapper">
        <div class="logo"><a href="/" title="我的网站" >我的网站</a></div>
        <ul class="nav">
            <li><strong><a href="/" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>

            <li><strong><a href="/a/view/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;观点</a></strong>
                <dl>
                    <em></em>

                    <dd><a href="/a/view/opinion/" title="" target="_self">观点</a></dd>

                    <dd><a href="/a/view/ec/" title="" target="_self">电商</a></dd>

                    <dd><a href="/a/view/media/" title="" target="_self">传媒</a></dd>

                    <dd><a href="/a/view/unicom/" title="" target="_self">通信</a></dd>

                </dl></li><li><strong><a href="/a/start/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;创投</a></strong>
            <dl>
                <em></em>

                <dd><a href="/a/start/work/" title="" target="_self">创业</a></dd>

                <dd><a href="/a/start/people/" title="" target="_self">人物</a></dd>

            </dl></li><li><strong><a href="/a/shangye/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;商业</a></strong>
            <dl>
                <em></em>

            </dl></li><li><strong><a href="/a/zhike/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;智客</a></strong>
            <dl>
                <em></em>

            </dl></li><li><strong><a href="/a/kuaibao/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;快报</a></strong>
            <dl>
                <em></em>

            </dl></li><li><strong><a href="/a/zimeiti/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;自媒体</a></strong>
            <dl>
                <em></em>

                <dd><a href="/a/zimeiti/yejie/" title="" target="_self">业界</a></dd>

                <dd><a href="/a/zimeiti/shouyou/" title="" target="_self">手游</a></dd>

                <dd><a href="/a/zimeiti/chuanmei/" title="" target="_self">传媒</a></dd>

                <dd><a href="/a/zimeiti/shouji/" title="" target="_self">手机</a></dd>

            </dl></li>

        </ul>
        <div class="action">
            <a href="/a/about/submission/" class="n1" target="_blank" title="投稿">投稿</a>
        </div>
    </div>
</div>

<!--@网站公共头部-->
<!-- 预处理代码区 -->
<div class="main newslist">
    <!--左侧-->
    <div class="listl">
        <div class="inner">
            <div class="listview2">手游</div>
            <div class="listlcon" style="margin-bottom:30px;">
                <div class="listltitle">
                    <h3>{{Title}}</h3>
                    <p>
                        <a class="tfontsize" href="javascript:;"  >字号+</a>
                        <span class="spanimg1">作者：admin </span> <span class="spanimg2">来源：<a href="" title="未知" target="_blank">未知</a></span>					<span class="spanimg3">2015-02-07 11:52</span>
                        <span class="spanimg4"><a href="#cm">我要评论</a>(<i><a href="#SOHUCS" id="changyan_count_unit"></a>
<script type="text/javascript" src="Scripts/plugins.count.js"></script></i>)</span>
                    </p>
                </div>
                <div>
                    <!-- 小编有话说 begin -->
                    <div class="say">
                        {{{Tip}}}
                    </div>
                    <!-- 小编有话说 end -->
                </div>
            </div>
            <div class="article-content fontSizeSmall BSHARE_POP">

                <p style="text-align: center;"><img src="images/1422665918252.png" border="0" /></p>
                <p><strong>文小刀马</strong></p>
                <!-- 内容 begin -->
                {{{Content}}}
                <!-- 内容 end -->
                <p><span style="font-family: 楷体;">-----------------------------------------------------------------</span></p>
                <p><span style="font-family: 楷体;">作者简介：小刀马，微信公众号：daomawuyu(刀马物语)，个人号：xiaodaoma，如果想了解作者更多的故事，可以尝试加一下。常年笔耕不辍，坚持，坚守，用一种平实的角度来解读产业和行业的变迁。</span></p>
                <p><strong>转载请注明出处。</strong></p>		</div>
            <!-- 心情 -->
            <div class="mood">
                <div id="cyEmoji" role="cylabs" data-use="emoji"><div class="cy-wrapper">
                    <div class="emoji-tip">您看完此新闻的心情是
                    </div>
                    <ul class="emoji-list">
                        <li class="emoji-item" data-eid="30" data-ubb="[鼓掌]" data-desc="鼓掌！撒花！啪啪啪~啪啪啪~" data-num="0" style="width: 134px; height: 121px;">
                            <div><img src="http://comment.news.sohu.com/upload/comment4_1/images/face2013/1.gif" title="鼓掌"></div>
                            <p class="emoji-name">鼓掌</p>
                            <p class="emoji-num">0人</p>
                        </li>
                        <li class="emoji-item" data-eid="43" data-ubb="[鄙视]" data-desc="战斗力只有5的渣渣！" data-num="0" style="width: 134px; height: 121px;">
                            <div><img src="http://comment.news.sohu.com/upload/comment4_1/images/face2013/9.gif" title="鄙视"></div>
                            <p class="emoji-name">鄙视</p>
                            <p class="emoji-num">0人</p>
                        </li>
                        <li class="emoji-item" data-eid="32" data-ubb="[开心]" data-desc="今儿个老百姓呀，真呀真高兴！" data-num="0" style="width: 134px; height: 121px;">
                            <div><img src="http://comment.news.sohu.com/upload/comment4_1/images/face2013/4.gif" title="开心"></div>
                            <p class="emoji-name">开心</p>
                            <p class="emoji-num">0人</p>
                        </li>
                        <li class="emoji-item" data-eid="41" data-ubb="[愤怒]" data-desc="一股怒火不由得从两肋窜了上来！" data-num="0" style="width: 134px; height: 121px;">
                            <div><img src="http://comment.news.sohu.com/upload/comment4_1/images/face2013/10.gif" title="愤怒"></div>
                            <p class="emoji-name">愤怒</p>
                            <p class="emoji-num">0人</p>
                        </li>
                        <li class="emoji-item" data-eid="35" data-ubb="[可怜]" data-desc="太可怜了。" data-num="0" style="width: 134px;">
                            <div><img src="http://comment.news.sohu.com/upload/comment4_1/images/face2013/6.gif" title="可怜"></div>
                            <p class="emoji-name">可怜</p>
                            <p class="emoji-num">0人</p>
                        </li>
                    </ul>
                </div></div>
                <script type="text/javascript" charset="utf-8" src="http://changyan.itc.cn/js/??lib/jquery.js,changyan.labs.js?appid=cyraSkQnY"></script>		</div>



            <!-- @心情 -->


            <div class="tag">
                <div class="tagtitle"></div>
                <a href="/tags.php?/社交/">社交</a><a href="/tags.php?/陌生人/">陌生人</a><a href="/tags.php?/入口/">入口</a><a href="/tags.php?/手Q/">手Q</a>
                <div class="share">
                    <a href="javascript:;" class="sharea1">分享到新浪微博</a>
                    <a href="javascript:;" class="sharea2">分享到腾讯微博</a>
                    <a href="javascript:;" class="sharea3">收藏</a>
                </div>
            </div>
            <div class="avow">
                <div class="avowtitle"></div>
                <!-- 声明 -->
                <p>1.本站遵循行业规范，任何转载的稿件都会明确标注作者和来源；2.本站的原创文章，请转载时务必注明文章作者和来源，不尊重原创的行为我们将追究责任；3.作者投稿可能会经我们编辑修改或补充。</p>
                <!-- @声明 -->
            </div>
            <div class="ad"><a href="#" target="_blank"><img  src="Picture/img24.jpg" alt="" /></a></div>
            <div class="correlation">
                <div class="com-title"><span><img  src="images/symbol-23.png" alt="" />相关文章</span></div>
                <ul class="ulfix">
                    <li>
                        <div class="corimg">
                            <a href="/a/zimeiti/shouyou/2015/0207/168.html" class="title" target="_blank"><img  src="images/108.jpg"  width="175" height="115" alt="互联网装修大战：蘑菇装修VS小米家装谁是赢家" /></a>
                        </div>
                        <p>互联网装修大战：蘑菇装修VS小米家装谁是赢家</p>
                        <p>2015-02-07 11:52</p>
                    </li>


                </ul>
            </div>
            <!-- 评论 -->
            <div class="comment">
                <div class="com-title"><span id="cm"><img  src="images/symbol-23.png" alt="" />网友点评</span></div>

                <div class='_DEDECY' style=''><div id='SOHUCS' sid='175'></div></div><script>(function(){var doc = document,s = doc.createElement('script'),h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;s.type = 'text/javascript';s.charset = 'utf-8';s.src='http://assets.changyan.sohu.com/upload/changyan.js?conf=prod_8725357bf64682151b39b7ac4b4a1c5d&appid=cyrBysoEK';h.insertBefore(s,h.firstChild);window.SCS_NO_IFRAME = true;})()</script>

            </div>
            <!-- @评论 -->
        </div>
    </div>

    <!--右侧-->
    <div class="listr">
        <div class="rserach">
            <!--<form  name="formsearch" action="/plus/search.php">-->
                <input type="hidden" name="kwtype" value="0" />
                <input name="q" type="text" class="text-rserach" />
                <input  type="button" class="btn-rserach" value="" onclick="alert($("#articleId").val());" />

           <!-- </form>-->
        </div>
        <div class="adimg">
            <!-- 广告位_01 -->
            <a href="" title="" target="_blank"><img src="images/img14.jpg" alt="" /></a>

            <!-- @广告位_01 -->
        </div>
        <!--精彩导读-->
        <div class="read read2">
            <div class="com-title"><span><img  src="images/symbol-3.png" alt="" style="margin-bottom: 1px;" />精彩导读</span></div>
            <div class="readbox">
                <div class="readimg">
                    <a href="/a/zimeiti/shouyou/2015/0207/173.html" target="_blank" title="苏宁借阿里风波搞营销：谁挠了用户的心">
                        <img  src="images/107.jpg" alt="苏宁借阿里风波搞营销：谁挠了用户的心" width="90" height="59"/>
                    </a></div>
                <p><a href="/a/zimeiti/shouyou/2015/0207/173.html" target="_blank" title="苏宁借阿里风波搞营销：谁挠了用户的心">苏宁借阿里风波搞营销：谁挠了用户的心</a></p>
                <div class="floatfix"></div>
            </div>
            <div class="readbox">
                <div class="readimg">
                    <a href="/a/zimeiti/shouyou/2015/0207/174.html" target="_blank" title="谁给了乐视小米们一记响亮的耳光？">
                        <img  src="images/112.png" alt="谁给了乐视小米们一记响亮的耳光？" width="90" height="59"/>
                    </a></div>
                <p><a href="/a/zimeiti/shouyou/2015/0207/174.html" target="_blank" title="谁给了乐视小米们一记响亮的耳光？">谁给了乐视小米们一记响亮的耳光？</a></p>
                <div class="floatfix"></div>
            </div>
            <div class="readbox">
                <div class="readimg">
                    <a href="/a/zimeiti/shouyou/2015/0207/175.html" target="_blank" title="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?">
                        <img  src="images/109.png" alt="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?" width="90" height="59"/>
                    </a></div>
                <p><a href="/a/zimeiti/shouyou/2015/0207/175.html" target="_blank" title="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?">泛社交入口统一，手Q发力陌生人市场将带来多</a></p>
                <div class="floatfix"></div>
            </div>
            <div class="readbox">
                <div class="readimg">
                    <a href="/a/zimeiti/shouyou/2015/0207/170.html" target="_blank" title="1亿美金砸入二手车，百姓网能实现等风来吗？">
                        <img  src="images/110.jpg" alt="1亿美金砸入二手车，百姓网能实现等风来吗？" width="90" height="59"/>
                    </a></div>
                <p><a href="/a/zimeiti/shouyou/2015/0207/170.html" target="_blank" title="1亿美金砸入二手车，百姓网能实现等风来吗？">1亿美金砸入二手车，百姓网能实现等风来吗？</a></p>
                <div class="floatfix"></div>
            </div>
            <div class="readbox">
                <div class="readimg">
                    <a href="/a/zimeiti/shouyou/2015/0207/172.html" target="_blank" title="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机">
                        <img  src="images/111.jpg" alt="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机" width="90" height="59"/>
                    </a></div>
                <p><a href="/a/zimeiti/shouyou/2015/0207/172.html" target="_blank" title="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机">2015 科技圈三大预言：高速wi-fi、物联网、更</a></p>
                <div class="floatfix"></div>
            </div>


        </div>
        <div class="adimg3">
            <!-- 广告位_02 -->
            <a href="" title="" target="_blank"><img src="images/img15.jpg" alt="" /></a>
            <!-- @广告位_02 -->
        </div>
        <div class="adimg2">
            <!-- 广告位_03 -->
            <a href="" title="" target="_blank"><img src="images/img17.jpg" alt="" /></a>
            <!-- @广告位_03 -->
        </div>
        <!--科技快报-->
        <div class="viewpoint hotlist">
            <div class="com-title"><span><img  src="images/symbol-13.png" alt="" />相关景点</span></div>
            <ul>
                <li><a href="/a/zimeiti/shouyou/2015/0207/175.html">泛社交入口统一，手Q发力陌生人</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/171.html">家政app: 会是保姆的春天吗？</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/170.html">1亿美金砸入二手车，百姓网能实</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/169.html">主打“颠覆”，猎聘网年度颠覆盛</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/176.html">工商阿里忙互殴，苏宁高调打假争</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/172.html">2015 科技圈三大预言：高速wi-fi</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/168.html">互联网装修大战：蘑菇装修VS小米</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/174.html">谁给了乐视小米们一记响亮的耳光</a></li>
                <li><a href="/a/zimeiti/shouyou/2015/0207/167.html">淘宝有假货，O2O模式或将成解决</a></li>

            </ul>
        </div>
        <div class="floatfix"></div>
        <div class="follow">
            <div class="com-title"><span><img  src="images/symbol-5.png" alt="" />关注我们</span></div>
            <div class="followcon followcon2">
                <span>关注微信公众号，了解最新精彩内容</span>
                <p class="">
                    <img  src="images/qr1.jpg" alt="" />
                    <img  src="images/qr2.jpg" alt="" />
                </p>
            </div>
        </div>
    </div>

    <!--右侧返回顶部、二维码-->
    <div class="mreturn">
        <div id="code"></div>
        <div id="code_img" src="/dede58/html/images/qr2.jpg"></div>
        <a id="gotop"></a>

    </div>
    <!-- 左侧分享 -->
    <div class="mshare">
        <a href="javascript:;" class="msharea1"></a>
        <a id="wx" class="msharea2"href="#" style="cursor:*"></a>
        <div id="qrcode" class="qrcode" style="display: none;"> </div>
        <a href="javascript:;" class="msharea3"></a>
        <a href="#cm" class="msharea4"></a>
    </div>
    <!-- @左侧分享 -->
</div>
<!--网站公共页脚-->
<div class="footer">
    <div class="wrapper">
        <div class="lft">Copyright &copy; 2002-2011 cnzhan.cc 版权所有  备案：蜀ICP备12345678号 </div>
        <div class="rgt">

            <a href='/a/about/'>关于我们</a>
            <span></span>

            <a href='/a/about/report/'>寻求报道</a>
            <span></span>

            <a href='/a/about/submission/'>投稿须知</a>
            <span></span>

            <a href='/a/about/cooperation/'>商务合作</a>
            <span></span>

            <a href='/a/about/notice/'>版权申明</a>
            <span></span>

            <a href='/a/about/contact/'>联系我们</a>
            <span></span>

            <span style="display:none"><!-- 站长统计 --></span>
        </div>
    </div>
</div>
<input type="hidden" id="articleId" value="{{Id}}">
<script>
    $(function(){
        $(".nav li dl").each(function(){
            if($(this).find("dd").size()==0){
                $(this).remove();
            }
        });
        //



    });
</script>
<!--@网站公共页脚-->
<!-- 脚本区域 -->
<script src="Scripts/qrcode.js"></script>
<script type="text/javascript" src="Scripts/zeroclipboard.js"></script>
<script type="text/javascript" src="Scripts/digg.js"></script>
<script type="text/javascript" src="Scripts/article-show.js"></script>
<script type="text/javascript" src="Scripts/mood-show.js"></script>
<script>
    $(function() {
        $('.article-content a').each(function(i,a){
            var $a = $(a);
            if(!$a.attr('target'))
            {
                $a.attr('target','_blank');
            }
        });
        $('#zeroclipboard').attr('data-clipboard-text', location.href)
    });
</script>
<script type="text/javascript">
    // bShare划词分享
</script>
<!--淘宝广告-->

<!--淘宝广告结束-->
</body>
</html>
