<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/passport.css">
    <script type="text/javascript" src="Scripts/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                var userName=$("#userName").val();
                var password=$("#password").val();
                $.ajax({
                    url:"passport",
                    type:"post",
                    data:{userName:userName,password:password},
                    success:function (data) {
                        alert(data);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="center">
    <div class="center-head">
        <div class="head-left">美 景 天 堂</div>
        <div class="head-right"></div>
    </div>
    <div class="center-box">
        <div class="center-cell">
            <div class="tip">用户名</div>
            <div><input id="userName" type="text" placeholder="请输入用户名"></div>
            <div class="tip">密&nbsp;&nbsp;码</div>
            <div><input id="password" type="text"  placeholder="请输入密码"></div>
            <div class="forgive"><a href="#">忘记密码?</a></div>
        </div>
        <div class="center-submit">
            <input type="button" id="btnSubmit" class="login" value="登  陆" />
            <a href="regist">没有账号？去注册</a>
        </div>
    </div>
</div>
</body>
</html>

