<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <script>
        var url = location.search;
        url = url.substr(1);
        var bs={
            versions:function(){
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/), //是否为移动终端
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1 //是否iPad
                };
            }(),
            language:(navigator.browserLanguage || navigator.language).toLowerCase()
        }
        if(bs.versions.mobile && url!='mobile'){
            if(bs.versions.android||bs.versions.iPhone||bs.versions.iPad||bs.versions.ios){
                window.location.href="/wap/wap.php";
            }
        }
    </script>
    <meta charset="gb2312">
    <title>锦尚中国精仿砍柴网自媒体网站源码</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="order by dede58.com" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <base target="_blank">
    <!-- <link rel="stylesheet" type="text/css" href="Css/cmstop-common.css" />-->
    <!-- <link rel="stylesheet" type="text/css" href="Css/cmstop-index.css" /> -->
    <!--[if lt IE 9 ]>
    <script type="text/javascript" src="Scripts/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript" src="Scripts/cmstop-common.js"></script>
    <script type="text/javascript" src="Scripts/jquery.js"></script>
    <script type="text/javascript" src="Scripts/config.js"></script>
    <script type="text/javascript" src="Scripts/jquery.cookie.js"></script>
    <!-- 本页面私有 -->
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script type="text/javascript" src="Scripts/common.js"></script>
    <script type="text/javascript" src="Scripts/index.js"></script>
    <!-- @本页面私有 -->
</head>
<body>
<!--网站公共头部-->
<div class="topbar">
    <div class=" wrapper">
        <div class="logo"><a href="/" title="锦尚中国精仿砍柴网自媒体网站源码">锦尚中国精仿砍柴网自媒体网站源码</a></div>
        <ul class="nav">
            <li class=""><strong><a href="/" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>

            <li class=""><strong><a href="/a/view/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;观点</a></strong>
                <dl>
                    <em></em>

                    <dd><a href="/a/view/opinion/" title="" target="_self">观点</a></dd>

                    <dd><a href="/a/view/ec/" title="" target="_self">电商</a></dd>

                    <dd><a href="/a/view/media/" title="" target="_self">传媒</a></dd>

                    <dd><a href="/a/view/unicom/" title="" target="_self">通信</a></dd>

                </dl></li><li class=""><strong><a href="/a/start/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;创投</a></strong>
            <dl>
                <em></em>

                <dd><a href="/a/start/work/" title="" target="_self">创业</a></dd>

                <dd><a href="/a/start/people/" title="" target="_self">人物</a></dd>

            </dl></li><li class=""><strong><a href="/a/shangye/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;商业</a></strong>
        </li><li class=""><strong><a href="/a/zhike/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;智客</a></strong>
        </li><li class=""><strong><a href="/a/kuaibao/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;快报</a></strong>
        </li><li class=""><strong><a href="/a/zimeiti/" title="" target="_self"><span class="glyphicon
glyphicon-book"></span>&nbsp;&nbsp;自媒体</a></strong>
            <dl>
                <em></em>

                <dd><a href="/a/zimeiti/yejie/" title="" target="_self">业界</a></dd>

                <dd><a href="/a/zimeiti/shouyou/" title="" target="_self">手游</a></dd>

                <dd><a href="/a/zimeiti/chuanmei/" title="" target="_self">传媒</a></dd>

                <dd><a href="/a/zimeiti/shouji/" title="" target="_self">手机</a></dd>

            </dl></li>

        </ul>
        <div class="action">
            <a href="/a/about/submission/" class="n1" target="_blank" title="投稿">投稿</a>
        </div>
    </div>
</div>

<!--@网站公共头部-->
<div class="main">
    <!--主要内容-->
    <div class="mainnews">
        <!--顶部文字新闻-->
        <div class="latestnews" style="overflow: hidden;">
            <ul id="miniNewsRegion" style="top: -135px;">

                <li><img src="images/symbol-1.png" alt="乐心i6微信血压计：父母健康，才更踏实"><a href="/a/zhike/181.html">乐心i6微信血压计：父母健康，才更踏实</a>
                    <img src="images/symbol-1.png" alt="谁给了乐视小米们一记响亮的耳光？"><a href="/a/zimeiti/shouyou/2015/0207/174.html">谁给了乐视小米们一记响亮的耳光？</a></li>
                <li><img src="images/symbol-1.png" alt="淘宝有假货，O2O模式或将成解决方案"><a href="/a/zimeiti/shouyou/2015/0207/167.html">淘宝有假货，O2O模式或将成解决方案</a>
                    <img src="images/symbol-1.png" alt="手机品牌春节撕逼战开始打响，谁将去争第一？"><a href="/a/zimeiti/shouji/2015/0207/165.html">手机品牌春节撕逼战开始打响，谁将去争第一？</a></li>
                <li><img src="images/symbol-1.png" alt="人人网暮色将至？"><a href="/a/zimeiti/chuanmei/2015/0207/150.html">人人网暮色将至？</a>
                    <img src="images/symbol-1.png" alt="奇虎360买下域名360.com：谈判3年 耗资1.06亿"><a href="/a/kuaibao/124.html">奇虎360买下域名360.com：谈判3年 耗资1.06亿</a></li>
                <li><img src="images/symbol-1.png" alt="微信封杀再升级：网易云音乐中枪"><a href="/a/kuaibao/118.html">微信封杀再升级：网易云音乐中枪</a>
                    <img src="images/symbol-1.png" alt="阿里巴巴PK工商总局：昂贵的“约架”"><a href="/a/kuaibao/116.html">阿里巴巴PK工商总局：昂贵的“约架”</a></li>


                <li><img src="images/symbol-1.png" alt="乐心i6微信血压计：父母健康，才更踏实"><a href="/a/zhike/181.html">乐心i6微信血压计：父母健康，才更踏实</a>
                    <img src="images/symbol-1.png" alt="谁给了乐视小米们一记响亮的耳光？"><a href="/a/zimeiti/shouyou/2015/0207/174.html">谁给了乐视小米们一记响亮的耳光？</a></li></ul>
            <div class="msearch">
                <form name="formsearch" action="/plus/search.php">
                    <input type="hidden" name="kwtype" value="0">
                    <input type="text" name="q" placeholder="输入关键词" class="text-msearch" id="baiduSearch">
                    <input type="submit" class="btn-msearch" value="">
                </form>
            </div>
        </div>

        <!--左侧-->
        <div class="newsl">
            <!-- 首页幻灯片 -->
            <div class="m-slide">
                <ul class="img">
                    <li style="display: none;"><a href="/a/view/opinion/2015/0207/204.html" target="_blank" title="算法推荐阅读的冷思考——自我选择才是真正的“个性化”"><img src="/uploads/allimg/150207/1-15020G516310-L.jpg" width="670" height="365"></a></li>
                    <li style="display: list-item;"><a href="/a/view/opinion/2015/0207/203.html" target="_blank" title="红包成兵家必争之地，泛滥有隐忧需发力多元化"><img src="/uploads/allimg/150207/1-15020G515560-L.jpg" width="670" height="365"></a></li>
                    <li style="display: none;"><a href="/a/shangye/202.html" target="_blank" title="三足鼎立，全球社交巨头三国杀时代来临"><img src="/uploads/allimg/150207/1-15020G514530-L.jpg" width="670" height="365"></a></li>
                    <li style="display: none;"><a href="/a/view/opinion/2015/0207/201.html" target="_blank" title="“再造搜狐”空喊五年，张朝阳回归就能改变一切？"><img src="/uploads/allimg/150207/1-15020G513180-L.jpg" width="670" height="365"></a></li>

                </ul>
                <div id="ifocus_opdiv"></div>
                <div id="ifocus_tx">
                    <ul>
                        <li style="display: none;"><a href="/a/view/opinion/2015/0207/204.html" target="_blank" title="算法推荐阅读的冷思考——自我选择才是真正的“个性化”">算法推荐阅读的冷思考——自我选择</a></li>
                        <li style="display: list-item;"><a href="/a/view/opinion/2015/0207/203.html" target="_blank" title="红包成兵家必争之地，泛滥有隐忧需发力多元化">红包成兵家必争之地，泛滥有隐忧需</a></li>
                        <li style="display: none;"><a href="/a/shangye/202.html" target="_blank" title="三足鼎立，全球社交巨头三国杀时代来临">三足鼎立，全球社交巨头三国杀时代</a></li>
                        <li style="display: none;"><a href="/a/view/opinion/2015/0207/201.html" target="_blank" title="“再造搜狐”空喊五年，张朝阳回归就能改变一切？">“再造搜狐”空喊五年，张朝阳回归</a></li>


                    </ul>
                </div>
                <ul class="tab">
                    <li class="" style="width: 130px;"><div class="color1">算法推荐阅读的冷思考——自我选择</div></li>
                    <li class="on" style="width: 130px;"><div class="color2">红包成兵家必争之地，泛滥有隐忧需</div></li>
                    <li class="" style="width: 130px;"><div class="color3">三足鼎立，全球社交巨头三国杀时代</div></li>
                    <li class="" style="width: 130px;"><div class="color4">“再造搜狐”空喊五年，张朝阳回归</div></li>

                </ul>
            </div>
            <!-- @首页幻灯片 -->

            <!--精选导读-->
            <div class="chosen" style="margin-top:80px;">
                <div class="com-title"><span><img src="images/symbol-4.png" alt="">精选导读</span></div>
                <div class="chosenbox ">
                    <div class="chosenimg"><a href="//a/zimeiti/shouyou/2015/0207/173.html" title="苏宁借阿里风波搞营销：谁挠了用户的心" target="_blank"><img src="/uploads/allimg/150207/107.jpg" alt="苏宁借阿里风波搞营销：谁挠了用户的心" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouyou/2015/0207/173.html" title="苏宁借阿里风波搞营销：谁挠了用户的心" target="_blank">苏宁借阿里风波搞营销：谁挠了用户的心</a></h3>
                    <p>从具体的营销广告词来看，苏宁巧妙的借势并作为一条情感纽带紧密地连接起两...</p>
                    <p><span></span></p>
                </div>
                <div class="chosenbox chosenbox-ml">
                    <div class="chosenimg"><a href="//a/zimeiti/shouyou/2015/0207/174.html" title="谁给了乐视小米们一记响亮的耳光？" target="_blank"><img src="/uploads/allimg/150207/112.png" alt="谁给了乐视小米们一记响亮的耳光？" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouyou/2015/0207/174.html" title="谁给了乐视小米们一记响亮的耳光？" target="_blank">谁给了乐视小米们一记响亮的耳光？</a></h3>
                    <p>凭借互联网思维，小米手机短短几年一跃成为国内的知名品牌，市场份额名列前...</p>
                    <p><span></span></p>
                </div>
                <div class="chosenbox ">
                    <div class="chosenimg"><a href="//a/zimeiti/shouyou/2015/0207/175.html" title="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?" target="_blank"><img src="/uploads/allimg/150207/109.png" alt="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouyou/2015/0207/175.html" title="泛社交入口统一，手Q发力陌生人市场将带来多大的效应?" target="_blank">泛社交入口统一，手Q发力陌生人市场将带来多大的效应?</a></h3>
                    <p>新版手Q的发布，人们关注的焦点是增加了手机QQ红包功能。由于支付宝也推出...</p>
                    <p><span></span></p>
                </div>
                <div class="chosenbox chosenbox-ml">
                    <div class="chosenimg"><a href="//a/zimeiti/shouyou/2015/0207/170.html" title="1亿美金砸入二手车，百姓网能实现等风来吗？" target="_blank"><img src="/uploads/allimg/150207/110.jpg" alt="1亿美金砸入二手车，百姓网能实现等风来吗？" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouyou/2015/0207/170.html" title="1亿美金砸入二手车，百姓网能实现等风来吗？" target="_blank">1亿美金砸入二手车，百姓网能实现等风来吗？</a></h3>
                    <p>和其他二手车商家相比，百姓网的模式超级轻，这是他们比较习惯的处理方式。...</p>
                    <p><span></span></p>
                </div>
                <div class="chosenbox ">
                    <div class="chosenimg"><a href="//a/zimeiti/shouyou/2015/0207/172.html" title="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机" target="_blank"><img src="/uploads/allimg/150207/111.jpg" alt="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouyou/2015/0207/172.html" title="2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机" target="_blank">2015 科技圈三大预言：高速wi-fi、物联网、更智能的手机</a></h3>
                    <p>2015年，智能手机将真正的“智能”起来，应用程序之间能够相互融合、连接，...</p>
                    <p><span></span></p>
                </div>
                <div class="chosenbox chosenbox-ml">
                    <div class="chosenimg"><a href="//a/zimeiti/shouji/2015/0207/166.html" title="IBM裁员风波和搜狐紧急裁员有啥联系？" target="_blank"><img src="/uploads/allimg/150207/106.jpg" alt="IBM裁员风波和搜狐紧急裁员有啥联系？" width="130" height="85"></a></div>
                    <h3><a href="/a/zimeiti/shouji/2015/0207/166.html" title="IBM裁员风波和搜狐紧急裁员有啥联系？" target="_blank">IBM裁员风波和搜狐紧急裁员有啥联系？</a></h3>
                    <p>虽然IBM不承认自己将裁员11万人，但是裁员是属实的。新年伊始，裁员和离职...</p>
                    <p><span></span></p>
                </div>


                <div class="floatfix"></div>
            </div>
            <!--@精选导读-->
            <!--热门推荐-->
            <div class="hot">
                <div class="com-title"><span><img src="images/symbol-6.png" alt="">热门推荐</span></div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/1-15020G516310-L.jpg" alt="算法推荐阅读的冷思考——自我选择才是真正的“个性化”" width="250" height="165">
                        <div class="standpoint">观点</div>
                        <a class="zzsz" href="/a/view/opinion/2015/0207/204.html" target="_blank" title="算法推荐阅读的冷思考——自我选择才是真正的“个性化”"></a>
                    </div>
                    <h3><a href="/a/view/opinion/2015/0207/204.html">算法推荐阅读的冷思考——自我选择</a></h3>
                    <p>随着互联网大数据时代的到来，不管愿意还是不愿意，大数据正在影响着我们的阅读习惯。以用户社交网络为基础和用户信息流为载体的阅读平台悄然诞生，以今日头条为代表的阅读软件在不知不觉中生长出了个性化阅读的萌芽。 不可否认，算法推荐的出现，...</p>
                    <span>阅读：129</span><span>2015-02-07 15:16</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/1-15020G515560-L.jpg" alt="红包成兵家必争之地，泛滥有隐忧需发力多元化" width="250" height="165">
                        <div class="standpoint">观点</div>
                        <a class="zzsz" href="/a/view/opinion/2015/0207/203.html" target="_blank" title="红包成兵家必争之地，泛滥有隐忧需发力多元化"></a>
                    </div>
                    <h3><a href="/a/view/opinion/2015/0207/203.html">红包成兵家必争之地，泛滥有隐忧需</a></h3>
                    <p>随着移动互联网及移动应用的火爆，大众的生活、工作、娱乐等方式已经被全面改变，甚至很多风俗习惯也悄然发生变化。其中，最明显的变化就是红包发放的形式。自去年微信红包发放以来，红包一词就迅速走红，能否发红包和收到红包的数量成为人们比拼的...</p>
                    <span>阅读：185</span><span>2015-02-07 15:15</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/1-15020G514530-L.jpg" alt="三足鼎立，全球社交巨头三国杀时代来临" width="250" height="165">
                        <div class="standpoint">商业</div>
                        <a class="zzsz" href="/a/shangye/202.html" target="_blank" title="三足鼎立，全球社交巨头三国杀时代来临"></a>
                    </div>
                    <h3><a href="/a/shangye/202.html">三足鼎立，全球社交巨头三国杀时代</a></h3>
                    <p>美团创始人王兴在《九败一胜》里，提出过一个四纵三横的理论：四纵即互联网的四大热门领域资讯、交流（社交）、娱乐、商务。在这其中，社交领域一直是互联网创业的大热门，从PC到移动端，从OICQ、MSN到QQ。等到进入移动互联网时代，随时网络和终端...</p>
                    <span>阅读：169</span><span>2015-02-07 15:14</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/1-15020G513180-L.jpg" alt="“再造搜狐”空喊五年，张朝阳回归就能改变一切？" width="250" height="165">
                        <div class="standpoint">观点</div>
                        <a class="zzsz" href="/a/view/opinion/2015/0207/201.html" target="_blank" title="“再造搜狐”空喊五年，张朝阳回归就能改变一切？"></a>
                    </div>
                    <h3><a href="/a/view/opinion/2015/0207/201.html">“再造搜狐”空喊五年，张朝阳回归</a></h3>
                    <p>2012年起，张朝阳进入了长达一年半与世隔绝的闭关状态，他研究很多东西，比如大脑结构、西方心理学及脑科学进展以及佛教等等，通过这些在外人看来稀奇古怪的研究来对抗抑郁症。 因精神状况闭关两年后，2014年年初，张朝阳回归疆...</p>
                    <span>阅读：124</span><span>2015-02-07 15:12</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/132.jpg" alt="无线充电不是梦 QiPack无线移动电源测评" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/200.html" target="_blank" title="无线充电不是梦 QiPack无线移动电源测评"></a>
                    </div>
                    <h3><a href="/a/zhike/200.html">无线充电不是梦 QiPack无线移动电</a></h3>
                    <p>最近收到的一款支持无线充电的移动电源名为QiPack，中文名奇葩，是一款3000mAh基于Qi标准的无线移动电源，前不久刚在美国著名的Kickstarter上众筹成功，除了能当成普通的移动电源使用之外，还支持Qi标准的......</p>
                    <span>阅读：189</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/131.jpg" alt="小K二代评测：更聪明的智能插座" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/199.html" target="_blank" title="小K二代评测：更聪明的智能插座"></a>
                    </div>
                    <h3><a href="/a/zhike/199.html">小K二代评测：更聪明的智能插座</a></h3>
                    <p>尽管还叫智能插座，但小K二代智能插座已经不再单纯着眼于插座，而是着眼于智能家居的入口。通过外置的插件，小K二代智能插座掌控智能家居入口已无障碍，只是插件之间的联动还需下一番功夫去开发。总之，与......</p>
                    <span>阅读：86</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/130.png" alt="硬件创新去哪儿？“连接亲情“可以试试" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/198.html" target="_blank" title="硬件创新去哪儿？“连接亲情“可以试试"></a>
                    </div>
                    <h3><a href="/a/zhike/198.html">硬件创新去哪儿？“连接亲情“可以</a></h3>
                    <p>“在科技和人文的十字路口“，眼哥一直很喜欢这句话，虽然它被用的太多。很多时候，硬件创业者痴迷技术本身，而忽略了对人性的关怀。但如果创业者本身野心够大，商业诉求太多，往往不能触达这一点。...</p>
                    <span>阅读：135</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/128.jpg" alt="2015年3D打印行业发展的5大趋势" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/196.html" target="_blank" title="2015年3D打印行业发展的5大趋势"></a>
                    </div>
                    <h3><a href="/a/zhike/196.html">2015年3D打印行业发展的5大趋势</a></h3>
                    <p>从颅骨再造到面部重塑再到声带修复，我们已经看到了这方面的各种应用，但是明年仍然有望涌现出更加让人惊奇的想法。虽然具备完全功能的器官仍然遥遥无期，但是，为个人患者定制医疗方案是一个非常大的产业......</p>
                    <span>阅读：168</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/129.jpg" alt="可穿戴设备如何推动企业效率大变革？" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/197.html" target="_blank" title="可穿戴设备如何推动企业效率大变革？"></a>
                    </div>
                    <h3><a href="/a/zhike/197.html">可穿戴设备如何推动企业效率大变革</a></h3>
                    <p>可穿戴设备在慢慢渗透消费者市场的同时，也引起了越来越多企业的关注和采用。那么，该类设备可提升企业效率吗？国外媒体发布Avaya新兴产品技术主管瓦伦丁·马图拉（Valentine Matula）的文章称，企业不能承......</p>
                    <span>阅读：109</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/127.png" alt="智能电视除了打造家庭娱乐中心，未来还能拼什么？" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/195.html" target="_blank" title="智能电视除了打造家庭娱乐中心，未来还能拼什么？"></a>
                    </div>
                    <h3><a href="/a/zhike/195.html">智能电视除了打造家庭娱乐中心，未</a></h3>
                    <p>尽管移动设备和PC在争夺用户，但智能电视凭借屏幕大、受众单一、广告模式成熟等优势仍然是家庭娱乐中心。一方面各大互联网公司大举入侵，将电视、机顶盒等终端看做新的入口。另一方面长期缺乏新的增长点的......</p>
                    <span>阅读：58</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/126.jpg" alt="5种将在2015年大展拳脚的数字健康趋势" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/194.html" target="_blank" title="5种将在2015年大展拳脚的数字健康趋势"></a>
                    </div>
                    <h3><a href="/a/zhike/194.html">5种将在2015年大展拳脚的数字健康</a></h3>
                    <p>对于健康技术而言，2014年是充实的一年。据数字健康孵化器StartUp Health的报告，数字医疗所涉金额在2014年前三季度已经超过了50亿美元，接近2013年该领域所有投资（28亿美元）的两倍。...</p>
                    <span>阅读：192</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/124.png" alt="月月有惊喜，2014 年可穿戴设备回顾" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/192.html" target="_blank" title="月月有惊喜，2014 年可穿戴设备回顾"></a>
                    </div>
                    <h3><a href="/a/zhike/192.html">月月有惊喜，2014 年可穿戴设备回</a></h3>
                    <p>三星的 Galaxy Glass 申请专利文件泄露导致曝光，该款产品被认为是三星对 Google 推出的 Google Glass 所作的回应，有消息称，该镜片玻璃历经了美国空军在战场上的检验。我们也听到了关于三星的 Gear S Sm......</p>
                    <span>阅读：78</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/125.jpg" alt="预测：2015年互联网10大引爆点" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/193.html" target="_blank" title="预测：2015年互联网10大引爆点"></a>
                    </div>
                    <h3><a href="/a/zhike/193.html">预测：2015年互联网10大引爆点</a></h3>
                    <p>临近年关，各大媒体最喜欢做的事情就是年终盘点。于是科技外媒BI，邀请MacquarieSecuritiesGroup(麦格理证券集团)的分析师BenSchachter预测了2015年将会引爆热点的互联网关键词。...</p>
                    <span>阅读：74</span><span>2015-02-07 12:08</span>
                </div>
                <div class="hotbox">
                    <div class="hotimg">
                        <div class="hotimgzz"></div>
                        <img src="/uploads/allimg/150207/123.jpg" alt="小米手环趟过的那些智能硬件的产品大坑" width="250" height="165">
                        <div class="standpoint">智客</div>
                        <a class="zzsz" href="/a/zhike/191.html" target="_blank" title="小米手环趟过的那些智能硬件的产品大坑"></a>
                    </div>
                    <h3><a href="/a/zhike/191.html">小米手环趟过的那些智能硬件的产品</a></h3>
                    <p>2014年1月，华米科技悄悄成立，核心团队停掉了2015年所有的平板电脑新品及智能手表新品的研发——而仅仅在6个月前，我们的投影平板电脑还获得了美国CTIA平板电脑创新大奖，并在国内中高端平板电脑中保持热......</p>
                    <span>阅读：157</span><span>2015-02-07 12:08</span>
                </div>


            </div>
            <!--@热门推荐-->
        </div>

        <!--右侧-->
        <div class="newsr">
            <div class="topnews">
                <div class="com-title"><span><img src="images/symbol-3.png" alt="">今日头条</span></div>
                <div class="sideMenu" style="margin:0 auto">
                    <h3 class="h3img1"><a href="/a/zhike/185.html" target="_blank" title="小米小盒子震撼首发 “最小”和“最强”集于一身">小米小盒子震撼首发 “最小”和“</a></h3>
                    <ul style="display: none;"><li>1月15日，备受关注的小米旗舰新品发布会现场，全球最小的四核全高清网络机顶盒——小米小盒子隆重登场，这款售价199元的全新力作，作为小米回馈广大“米粉”们的2015新年礼物，仍以其一贯主打的高性价比，......</li></ul>
                    <h3 class="h3img2"><a href="/a/zimeiti/shouyou/2015/0207/176.html" target="_blank" title="工商阿里忙互殴，苏宁高调打假争做主角？">工商阿里忙互殴，苏宁高调打假争做</a></h3>
                    <ul style="display: none;"><li>　阿里与工商总局网监司的口水战似乎还没有停止的迹象。因工商总局一纸行政指导工作白皮书，阿里市值开盘蒸发600多亿人民币，看样子不给个说法，阿里是不会善罢甘休了，事实上，事件也在持续发酵中。与此......</li></ul>
                    <h3 class="h3img3"><a href="/a/zimeiti/shouyou/2015/0207/168.html" target="_blank" title="互联网装修大战：蘑菇装修VS小米家装谁是赢家">互联网装修大战：蘑菇装修VS小米家</a></h3>
                    <ul style="display: none;"><li>再唠叨一句，互联网装修的各位提升用户装修幸福指数的家装O2O们要团结，耍文案搞传播可以，但不要内斗，一致对外吧，别让传统装修给喷死了。自己的阵脚不要乱，先把互联网装修做起来吧，让用户用口碑去选......</li></ul>
                    <h3 class="h3img4"><a href="/a/zimeiti/shouji/2015/0207/160.html" target="_blank" title="支付宝莫慌，当心陷入微信的红包圈套">支付宝莫慌，当心陷入微信的红包圈</a></h3>
                    <ul style="display: none;"><li>支付宝此次慌乱下发动的红包保卫战，其意就是要保卫自己的支付地位。但是支付宝万万没有想到的是，微信发红包竟然是要撬动从支付到商家再到用户的整个O2O生态链，而这一次的微信春晚红包更是声东击西，名......</li></ul>
                    <h3 class="h3img5"><a href="/a/zimeiti/chuanmei/2015/0207/151.html" target="_blank" title="农村电商：发展的关键其实在于运营">农村电商：发展的关键其实在于运营</a></h3>
                    <ul style="display: block;"><li>对于现在的农村电商而言，现在最主要的是如何不要将自己困在小巷中，在开阔的地方多尝试几条路。
                        ...</li></ul>

                </div>
            </div>

            <!--关注我们-->
            <div class="follow" style="margin-top:82px;">
                <div class="com-title"><span><img src="images/symbol-5.png" alt="">关注我们</span></div>
                <div class="followcon"> <span>关注微信公众号，了解最新精彩内容</span>
                    <p class=""> <img src="images/qr1.jpg" alt=""> <img src="images/qr2.jpg" alt=""> </p>
                    <a href="" class="awb1"></a><a href="" class="awb2"></a><a href="" class="asubscription"></a> </div>
            </div>
            <!--阅读推荐-->
            <div class="read">
                <div class="com-title"><span><img src="images/symbol-3.png" alt="自媒体">自媒体</span></div>


            </div>
            <!--轮播广告-->
            <div class="rightad">
                <div class="focusBox" style="margin:0 auto">
                    <ul class="pic">
                        <li><a href="###" target="_blank" title=""><img src="images/img7.jpg"></a></li>
                        <li><a href="/" target="_blank" title=""><img src="/upload.ikanchai.com/2014/1211/thumb_365_670_1418306464554.jpg"></a></li>
                        <li><a href="###" target="_blank" title=""><img src="/img1.gtimg.com/tech/pics/hv1/146/91/1759/114402326.jpg"></a></li>
                        <li><a href="###" target="_blank" title=""><img src="images/img9.jpg"></a></li>
                    </ul>
                </div>
            </div>
            <!--轮播广告-->

            <!--科技快报-->
            <div class="newsletter">
                <div class="com-title"><span><img src="images/symbol-13.png" alt="">科技快报</span></div>
                <ul>
                    <li><a href="/a/kuaibao/126.html" title="将移动转售业务运营交给市场效果会更好吗？" target="_blank">将移动转售业务运营交给市场效果会更</a></li>
                    <li><a href="/a/kuaibao/125.html" title="谷歌便发布消息:2014 年共过滤掉5 亿余条恶意广告" target="_blank">谷歌便发布消息:2014 年共过滤掉5 亿</a></li>
                    <li><a href="/a/kuaibao/123.html" title="Facebook“大”到自己都难以想象" target="_blank">Facebook“大”到自己都难以想象</a></li>
                    <li><a href="/a/kuaibao/122.html" title="迪拜七星级酒店推出 镀金纪念版苹果iPhone6" target="_blank">迪拜七星级酒店推出 镀金纪念版苹果i</a></li>
                    <li><a href="/a/kuaibao/121.html" title="苹果开始招聘健康业销售高管 与IBM合作大有进展" target="_blank">苹果开始招聘健康业销售高管 与IBM合</a></li>
                    <li><a href="/a/kuaibao/120.html" title="睡前玩游戏有助于放松心情？ 事实告诉你恰恰相反" target="_blank">睡前玩游戏有助于放松心情？ 事实告</a></li>


                </ul>
            </div>
            <!--品牌展示-->
            <div class="brandshow">
                <div class="com-title"><span><img src="images/symbol-5.png" alt="">品牌展示</span></div>
                <a href="#" title="" target="_blank"><img src="images/img9.jpg" alt=""></a>
                <a href="#" title="" target="_blank"><img src="images/img10.jpg" alt=""></a> </div>

        </div>
        <div class="floatfix"></div>
        <!-- 广告位01 -->
        <div class="adlr" style="top:450px;"><a href=""><img src="images/index_001.jpg"></a></div>
        <!-- @广告位01 -->
    </div>

    <!--其他信息-->
    <div class="mainother">
        <!-- 合作伙伴 -->
        <div class="partners">
            <div class="partnerstitle"></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo1.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo2.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo3.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo4.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo5.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo6.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo7.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="images/link_logo8.jpg" alt=""></a></div>

        </div>
        <!-- @合作伙伴 -->
        <!-- 友情链接 -->
        <div class="links">
            <div class="linkstitle"></div>
            <ul class="ulfix">
                <li><a href="http://www.52jscn.com" target="_blank">站长圈</a> </li><li><a href="http://www.zzrww.com/" target="_blank">站长交易网</a> </li><li><a href="http://idc.52jscn.com" target="_blank">站长数据</a> </li><li><a href="http://bbs.52jscn.com/" target="_blank">源码论坛</a> </li>
            </ul>
        </div>
        <!-- @友情链接 -->
    </div>
    <div class="mreturn">
        <div id="code"></div>
        <div id="code_img" src="images/qr2.jpg"></div>
        <a id="gotop"></a>

    </div>
</div>
<!--@侧边栏按钮-->
<!--网站公共页脚-->
<div class="footer">
    <div class="wrapper">
        <div class="lft">Copyright © 2002-2011 锦尚中国 版权所有  备案：蜀ICP备12345678号 </div>
        <div class="rgt">

            <a href="/a/about/">关于我们</a>
            <span></span>

            <a href="/a/about/report/">寻求报道</a>
            <span></span>

            <a href="/a/about/submission/">投稿须知</a>
            <span></span>

            <a href="/a/about/cooperation/">商务合作</a>
            <span></span>

            <a href="/a/about/notice/">版权申明</a>
            <span></span>

            <a href="/a/about/contact/">联系我们</a>
            <span></span>

            <span style="display:none"><!-- 站长统计 --></span>
        </div>
    </div>
</div>

<script>
    $(function(){
        $(".nav li dl").each(function(){
            if($(this).find("dd").size()==0){
                $(this).remove();
            }
        });

    });
</script>
<!--@网站公共页脚-->


</body>


</html>
